
{% load static %}

<style>
  /* Add fixed positioning and z-index to make the menu fixed at the top */
  .fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  /* Add some padding to the body to prevent content from overlapping with the fixed menu */
  body {
    padding-top: 70px; /* Adjust this value to match the height of the fixed menu */
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-menu">
{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-success"> {% endcomment %}
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{% static 'app/images/logo.png' %}" width="70" height="50" alt=""/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu" id="cityDropdown">
              {% for city_obj in city %}
              <li><a class="dropdown-item" href="{% url 'product' city_name=city_obj.city %}">{{ city_obj.city }}</a></li>
              {% endfor %}
          </ul>
          
          
          
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item dropdown mx-2">
            <a href="/cart" class="nav-link text-white"> <span class="badge bg-danger">{% if totalitem > 0 %} {{totalitem}} {% endif %}</span> Cart</a>
        </li>
        <li class="nav-item dropdown mx-2">
            <a href="/wishlist" class="nav-link text-white"> <span class="badge bg-danger">{% if wishitem > 0 %} {{wishitem}} {% endif %}</span> <i class="fa fa-heart"></i></a>
        </li>
          
        </ul>
        <form class="d-flex" role="search" method="GET" action="{% url 'search_results' %}">
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-danger" type="submit">Search</button>
      </form>
      
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{request.user.username}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" href="/profile"> Profile</a></li>
                <li><a class="dropdown-item" href="/orders"> Orders</a></li>
                <li><a class="dropdown-item" href="/orderscod"> Orders COD</a></li>
                <li><a class="dropdown-item" href="/password-change"> Change Password</a></li>
                <li><a class="dropdown-item" href="/logout"> Logout</a></li>
            </ul>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if not request.user.is_authenticated %}
    <li class="nav-item dropdown mx-2">
        <a href="/accounts/login/" class="nav-link text-white">Login</a>
    </li>
    <li class="nav-item dropdown mx-2">
        <a href="/customer_registration" class="nav-link text-white">Registration</a>
    </li>
{% endif %}

    </ul>
    </div>
  </nav>
  