{% extends 'app/base.html' %} 
{% load static %}

{% block title %}Product Details{% endblock title %}



{% block main-content %}
<br/><br/><br/><br/>
    <div class="container">
        <div class="row flex justify-content-between">
            <div class="img2 col-lg-5 mt-5">
                <img src="{{ product.image.url }}" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-75" alt="">
            </div>
            
            <div class="productdetail col-lg-5">
                <h1 style="font-family: Georgia; font-size: 50px;">{{product.name}}</h1>
                <h5 style="color: green;">Rs.{{product.after_discount}}/-</h5>

                <small class="text-decoration-line-through text-muted fs-5"><del>{{ product.price }}/-</del></small>
                <h5 style="color: red;">Weight- {{product.weight}}</h5>

                <br><br>
                <h4>Product Features</h4>
                <ul >
                    <li>{{product.long_dec}}</li>
                </ul>
                
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-4">
                        {% if is_product_in_cart %}
                            <!-- Show the "Show Cart" button -->
                            <a href="/view-cart" class="btn btn-success shadow px-4 py-2">Show Cart</a>
                        {% else %}
                            <!-- Show the "Add to Cart" form -->
                            <form action="/add-to-cart" class="d-flex justify-content-center justify-content-sm-start mb-2">
                                <input type="hidden" name="prod_id" value="{{ product.id }}" />
                                <button type="submit" class="btn btn-primary shadow px-4 py-2">Add to Cart</button>
                            </form>
                        {% endif %}
                    </div>
                
                    <div class="col-sm-6 col-md-4">
                        <form action="/add-to-cart" class="d-flex justify-content-center justify-content-sm-start mb-2">
                            <input type="hidden" name="prod_id" value="{{ product.id }}" />
                            <button type="submit" class="btn btn-warning shadow px-4 py-2">Buy Now</button>
                        </form>
                    </div>
                
                    <div class="col-12 mt-2 text-center">
                        <!-- Your existing code for Wishlist buttons -->
                        {% if wishlist %}
                            <a pid="{{ product.id }}" class="minus-wishlist btn btn-danger shadow px-4 py-2"><i class="fas fa-heart fa-lg"></i></a>
                        {% else %}
                            <a pid="{{ product.id }}" class="plus-wishlist btn btn-success shadow px-4 py-2"><i class="fas fa-heart fa-lg"></i></a>
                        {% endif %}
                    </div>
                </div>
                
                
                    {% comment %} <div class="btn btn-dark p-1 m-1 btn-lg"> <a href="#" class="text-decoration-none text-white">Buy Now</a> </div> {% endcomment %}
                
            </div>
        </div>
    </div>








<!-- Add the necessary link and script tags -->


<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div style="text-align: center;">
            <h3>Related Product......</h3>
        </div>
      {% for product in products %}
      
        {% if forloop.counter0|divisibleby:4 %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="card-wrapper container-sm d-flex justify-content-around">
        {% endif %}
        <a href="{% url 'product-detail' id=product.id %}" class="btn">
          <div class="card" style="width: 18rem;">
            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <!-- Add other product information here if needed -->
              <h5 style="color: green;">Rs.{{ product.after_discount }}/-</h5>
              <small class="text-decoration-line-through text-muted fs-5"><del>Rs.{{ product.price }}/-</del></small>
            </div>
          </div>
        </a>
        {% if forloop.counter0|add:1|divisibleby:4 or forloop.last %}
            </div>
          </div>
        {% endif %}
       
      {% endfor %}
    </div>
  
    <!-- Add carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

  








    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $('.plus-wishlist').click(function() {
            var id = $(this).attr("pid").toString();
            $.ajax({
                type: "GET",
                url: "/pluswishlist",
                data: {
                    prod_id: id
                },
                success: function(data) {
                    // Correctly build the URL with the 'id' parameter
                    window.location.href = `http://127.0.0.1:8000/product-detail/${id}/`;
                }
            });
        });
        

        $('.minus-wishlist').click(function(){
            var id = $(this).attr("pid").toString();
            $.ajax({
                type: "GET",
                url: "/minuswishlist/",
                data: {
                    prod_id: id
                },
                success: function(data) {
                    // You can choose to handle the success message or redirect here
                    alert(data.message);
                    // Redirect to the product detail page after successful removal
                    window.location.href = `http://127.0.0.1:8000/product-detail/${id}/`;
                }
            });
        });
    </script>

{% endblock main-content %}
