{% extends 'app/base.html' %} 
{% load static %}

{% block title %}Product Details{% endblock title %}



{% block main-content %}
<br/><br/><br/><br/>
    <div class="container">
        <div class="row flex justify-content-between">
            <div class="img2 col-lg-5 mt-5">
                <img src="{{ product.image.url }}" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-75" alt="">
            </div>
            
            <div class="productdetail col-lg-5">
                <h1 style="font-family: Georgia; font-size: 50px;">{{product.name}}</h1>
                <h5 style="color: green;">Rs.{{product.after_discount}}/-</h5>

                <small class="text-decoration-line-through text-muted fs-5"><del>{{ product.price }}/-</del></small>
                <h5 style="color: red;">Weight- {{product.weight}}</h5>

                <br><br>
                <h4>Product Features</h4>
                <ul class="fs-5" style="font-family: Rajdhani;">
                    <li>{{product.long_dec}}</li>
                </ul>
                
                <div class="d-inline-flex font-family: Rajdhani">
                    <form action="/add-to-cart">
                        <input type="hidden" name="prod_id" value="{{product.id}}" />
                        <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
                    </form>
                    <a href="/showcart" class="btn btn-warning shadow px-5 py-2 ms-4">Buy Now</a>
                    {% if wishlist %}
                        <a pid="{{ product.id }}" class="minus-wishlist btn btn-danger shadow px-5 py-2 ms-4"><i class="fas fa-heart fa-lg"></i></a>
                    {% else %}
                        <a pid="{{ product.id }}" class="plus-wishlist btn btn-success shadow px-5 py-2 ms-4"><i class="fas fa-heart fa-lg"></i></a>
                    {% endif %}

                </div>
                
                    {% comment %} <div class="btn btn-dark p-1 m-1 btn-lg"> <a href="#" class="text-decoration-none text-white">Buy Now</a> </div> {% endcomment %}
                
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $('.plus-wishlist').click(function() {
            var id = $(this).attr("pid").toString();
            $.ajax({
                type: "GET",
                url: "/pluswishlist",
                data: {
                    prod_id: id
                },
                success: function(data) {
                    // Correctly build the URL with the 'id' parameter
                    window.location.href = `http://127.0.0.1:8000/product-detail/${id}/`;
                }
            });
        });
        

        $('.minus-wishlist').click(function(){
            var id = $(this).attr("pid").toString();
            $.ajax({
                type: "GET",
                url: "/minuswishlist/",
                data: {
                    prod_id: id
                },
                success: function(data) {
                    // You can choose to handle the success message or redirect here
                    alert(data.message);
                    // Redirect to the product detail page after successful removal
                    window.location.href = `http://127.0.0.1:8000/product-detail/${id}/`;
                }
            });
        });
    </script>

{% endblock main-content %}
