{% extends 'app/base.html' %} 
{% load static %}
{% block title %}Index{% endblock title %}
{% block bannner_slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
   <div class="carousel-inner">
      <div class="carousel-item active">
         <img src="{% static 'app/images/banner/b1.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item ">
         <img src="{% static 'app/images/banner/b2.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item ">
         <img src="{% static 'app/images/banner/b3.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item ">
         <img src="{% static 'app/images/banner/b4.png' %}" class="d-block w-100" alt="...">
      </div>
   </div>
</div>
{% endblock bannner_slider %}
 {% block information %}
<div class="container">
   <div class="row bg-success text-center p-5 text-white border-bottom shadow">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         {% comment %} <ol class="carousel-indicators">
           <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
           <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
           <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
         </ol> {% endcomment %}
         <div class="carousel-inner">
           <div class="carousel-item active">
             <img class="d-block w-100" src="{% static 'app/images/krish.png' %}" alt="First slide">
           </div>
           <div class="carousel-item">
             <img class="d-block w-100" src="https://marketplace.canva.com/EAE91rVXZu0/1/0/1600w/canva-white-green-modern-clean-eat-better-food-linkedin-banner-XxWD8ogyHbk.jpg" alt="Second slide">
           </div>
           <div class="carousel-item">
             <img class="d-block w-100" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/food-linkedin-career-cover-photo-design-template-1f7b22ebfd7bcdf42d90c6a407c8aef0_screen.jpg?ts=1630350557" alt="Third slide">
           </div>
         </div>
         <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
         </a>
       </div>
   </div>
</div>

<style>
   .bdo {
     margin: 0;
     padding: 0;
     display: flex;
     overflow: hidden;
   }
 
 
 
 
  .card-container {
     display: flex;
     animation: scrollCard 10s linear infinite;
   }
 
 
 
 
  .card {
     width: auto;
     height: auto;
     background-color: #f2f2f2;
     border: 1px solid #ddd;
     margin: 10px;
     padding: 20px;
     box-sizing: border-box;
   }
 
 
 
 
  .card-container:hover {
     animation-play-state: paused;
   }
 
 
 
 
  @keyframes scrollCard {
     0% {
       transform: translateX(100%);
     }
     100% {
       transform: translateX(-100%);
     }
   }
 </style>
 
 
 <br><br><br>
 
    <div class="bdo">
   <div class="card-container">
      {% for i in city %}
      <a href="{% url 'product' city_name=i.city %}" style="color: black; font-weight: bold; text-decoration: none;">
      <div class="card">
         {{ i.city }}
     </div>
   </a>
     
     
     {% endfor %}
   </div>
   </div>

{% endblock information %} 
{% block main-content %}
<div class="container">
   
   <h2 class="text-center"> All Products</h2>
   <br/><br/><br/><br/>
   <style>
      .product-box {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 20px;
      }
   </style>

   

   <div class="container">
   

    <style>
      /* Add custom styles here to enhance the design */
      .product-card {
          border: 1px solid #ccc;
          border-radius: 10px;
          padding: 10px;
          margin-bottom: 20px;
          text-align: center;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      .product-image img {
          max-width: 100%;
          height: auto;
          border-radius: 10px;
      }

      .product-title {
          font-size: 1.2rem;
          margin-top: 10px;
      }

      .product-price {
          font-size: 1.25rem;
          font-weight: bold;
          margin-top: 10px;
      }
  </style>
    <div class="container mt-4">
      <div class="row">
          {% for product_obj in product|slice:"0:8" %}
              <div class="col-md-3">
                  <div class="product-card">
                      <a href="{% url 'product-detail' id=product_obj.id %}">
                          <div class="product-image">
                              <img src="{{ product_obj.image.url }}" alt="Product Image">
                          </div>
                          <div class="product-details">
                              <h2 class="product-title">{{ product_obj.name }}</h2>
                              <div class="product-price">
                                  <span class="text-danger">Rs.{{ product_obj.after_discount }}/-
                                      <small class="text-decoration-line-through">{{ product_obj.price }}</small>
                                  </span>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
    
                  </div>
                  
                  <div class="row justify-content-center mt-4">
                     <div class="col-md-4 text-center"> <!-- Added "text-center" class to center content -->
                         <a href="{% url 'all_product' %}" class="btn btn-primary">View More Products</a>
                     </div>
                 </div>
                 
                   
                   <br><br><br>

                   <h2 class="text-center"> All Category</h2>
                   <div class="container mt-4">
                    <div class="row">
                      {% for product_obj in category_objects|slice:"0:8" %}
                        <div class="col-md-3">
                          <div class="product-card">
                            <a href="{% url 'all_category_filter' category_id=product_obj.id %}">
                              <div class="product-image">
                                <img src="{{ product_obj.image.url }}" alt="Product Image">
                              </div>
                              <div class="product-details">
                                <h2 class="product-title">{{ product_obj.name }}</h2>
                              </div>
                            </a>
                          </div>
                        </div>
                    {% endfor %}

                    </div>
                </div>
                  
                                </div>
                                
                                <div class="row justify-content-center mt-4">
                                   <div class="col-md-4 text-center"> <!-- Added "text-center" class to center content -->
                                       <a href="{% url 'all_category' %}" class="btn btn-primary">View More Category</a>
                                   </div>
                               </div>
                               
                                 
                                 <br><br><br>

   <style>
      .grid-image {
      border-radius: 10px;
      transition: 0.2s ease-in-out;
      width: 100%;
      height: 100%;
      }
      .grid-image:hover {
      transform: scale(1.05);
      transition: 0.2s ease-in-out;
      }
      .grid {
      display: grid;
      gap: 10px;
      grid-template-areas:
      "I1 I1 I2 I3"
      "I1 I1 I2 I7"
      "I4 I5 I6 I7";
      }
      .item1 {
      grid-area: I1;
      }
      .item2 {
      grid-area: I2;
      }
      .item3 {
      grid-area: I3;
      }
      .item4 {
      grid-area: I4;
      }
      .item5 {
      grid-area: I5;
      }
      .item6 {
      grid-area: I6;
      }
      .item7 {
      grid-area: I7;
      }
   </style>
   <div class="grid">
      <div class="item1">
         <img
            class="grid-image"
            src="{% static 'app/images/grid_image1.png' %}"
            alt="image 1"
            />
      </div>
      <div class="item2">
         <img
            class="grid-image"
            src="{% static 'app/images/grid_image2.png' %}"
            alt="image 2"
            />
      </div>
      <div class="item3">
         <img
            class="grid-image"
            src="{% static 'app/images/grid_image3.png' %}"
            alt="image 3"
            />
      </div>
      <div class="item4">
         <img
            class="grid-image"
            src="{% static 'app/images/grid_image4.png' %}"
            alt="image 4"
            />
      </div>
      <div class="item5">
         <img
            class="grid-image"
            src="{% static 'app/images/grid_image5.png' %}"
            alt="image 5"
            />
      </div>
      <div class="item6">
         <img
            class="grid-image"
            src="{% static 'app/images/grid_image6.png' %}"
            alt="image 6"
            />
      </div>
      <div class="item7">
         <img
            class="grid-image"
            src="{% static 'app/images/grid_image7.png' %}"
            alt="image 7"
            />
      </div>
   </div>
</div>
</div>







{% comment %} test {% endcomment %}
<style>
   /* general styles */
   /*padded section */
   .pad-section {
   padding: 50px 0;
   }
   .pad-section img {
   width: 100%;
   }
   /* vertical-centered text */
   .text-vcenter {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   }
   .text-vcenter h1 {
   font-family: Quicksand, serif;
   font-size: 5.5em;
   font-weight: 400;
   margin: 0;
   padding: 0;
   }
   /* seconde section - About */
   #about .container {
   margin-top: 50px;
   }
   #about .col-sm-6 img {
   max-height: 400px;
   object-fit: cover;
   border-radius: 10px;
   }
   #about h2 {
   font-family: Quicksand, serif;
   font-weight: 500;
   margin-top: 30px;
   }
   #about p.lead {
   font-size: 1.2rem;
   margin-top: 20px;
   }
</style>


<!-- seconde section - About -->
<div id="about" class="pad-section">
   <div class="container">
      <div class="row">
         <div class="col-sm-6">
            <img src="{% static 'app/images/ab1.png' %}" alt="" />
         </div>
         <div class="col-sm-6 text-center">
            <h2>Organic farming</h2>
            <p class="lead">Organic farming can be defined as an agricultural process that uses biological fertilisers and pest control acquired from animal or plant waste. Organic farming was actually initiated as an answer to the environmental sufferings caused by the use of chemical pesticides and synthetic fertilisers.

               The organic farming process is more eco-friendly than conventional farming. Organic farming keeps soil healthy and maintains environment integrity thereby, promoting the health of consumers.</p>
         </div>
      </div>
   </div>
</div>
<!-- /second section -->
<div id="about" class="pad-section">
   <div class="container">
      <div class="row">
         <div class="col-sm-6 ">
            <h2>Organic foods</h2>
            <p class="lead">The term “organic” refers to how certain foods are produced. Organic foods have been grown or farmed without the use of: In order to be labelled organic, a food product must be free of artificial food additives. This includes artificial sweeteners, preservatives, colouring, flavouring, and monosodium glutamate (MSG)

               Our Mission To be a trustworthy and innovative global leader in providing genuine organic True Wellness products and solutions for conscious, healthy living
               
               Organic products are grown under a system of agriculture without the use of chemical fertilizers and pesticides with an environmentally and socially responsible approach.
               
               Organic Products India is an organization that specialises in manufacturing and exporting a variety of organic food products like oil seeds, spices, grains and pulses.</p>
         </div>
         <div class="col-sm-6">
            <img src="{% static 'app/images/ab2.png' %}" alt="" />
         </div>
      </div>
   </div>
</div>
</div>
<section class="details">
   <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 400.004 400.004" style="enable-background:new 0 0 400.004 400.004;" fill="rgb(234,234,234)" xml:space="preserve">
      <g>
         <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757
            c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072
            c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315
            C400.004,190.438,392.251,182.686,382.688,182.686z"></path>
      </g>
   </svg>
   </div>
</section>

<style>
   .containerrr {
   height: 200px;
   margin: auto;
   display: grid;
   /*display: flex;*/
   position: relative;
   place-items: centre;
   overflow: hidden;
   scroll-behaviour: smooth;
   }
   .slide-container {
   display: flex;
   gap:5px;
   align-items: centre;
   width: calc(250px * 18);
   animation: scroll 50s linear infinite;
   }
   @keyframes scroll {
   0% {
   transform: translate(0);
   }
   100% {
   transform: translateX(calc(-250px * 15));
   }s 
   }
   .slide-image {
   height: 150px;
   width: 200px;
   display: flex;
   align-items: centre;
   padding: 15px;
   perspective: 100px;
   }
   img {
   width: 100%;
   height: auto;
   cursor: pointer;
   transition: transform 1s;
   }
   img:hover {
   transform: translateZ(20px);
   }
</style>
<div class="containerrr">
   <div class="slide-container">
      <div class="slide-image">
         <img src="https://www.investopedia.com/thmb/F8CKM3YkF1fmnRCU2g4knuK0eDY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/MClogo-c823e495c5cf455c89ddfb0e17fc7978.jpg" alt="" />
      </div>
      <div class="slide-image">
         <img src="https://d28wu8o6itv89t.cloudfront.net/images/Visadebitcardpng-1599584312349.png" alt="" />
      </div>
      <div class="slide-image">
         <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/RuPay.svg/2560px-RuPay.svg.png" alt="" />
      </div>
      <div class="slide-image">
         <img src="https://s31898.pcdn.co/wp-content/uploads/2022/07/upi-image-2-800x430.jpg" alt="" />
      </div>
      <div class="slide-image">
         <img src="https://razorpay.com/assets/best-payment-gateway/tab-netbanking.png" alt="" />
      </div>
   </div>
</div>
   

<br/><br/><br/><br/>
{% endblock main-content %}